*.py[cod]
__pycache__

# packages
.eggs
.build
*.egg
*.egg-info
dist
build
eggs
bin
sdist

# test / coverage
.coverage
.pytest_cache
.pytest

# mypy
.mypy_cache

# venv
.env
.venv
.py37
.py38
.py39
.py310

# mac
.DS_Store

# editor
*.swp
.idea
